@import './base.css';

body {
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
}

#app {
  max-width: 400px;
  padding: 2rem;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: var(--color-text);
}

a, .green {
  text-decoration: none;
  color: var(--color-heading);
  transition: color 0.4s, background-color 0.4s;
}

a:hover, .green:hover {
  background-color: var(--color-border-hover);
}

@media (min-width: 1024px) {
  #app {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
}
